html{
      margin:0;
      padding:0;
      scroll-behavior: smooth;}

body { 
    background-color: rgb(12, 0, 50);
    padding:0;
    margin:0;}  

/* Header */
.Header{
    position: absolute;
      top: 0;
      left: 0;
    width:100%;
    height:auto;
    padding: 0px;
    margin:0px;
    background-color: rgba(0, 58, 145, 0.877);
    z-index: 50;}

.Header ul {
    line-height: 0; 
    padding: 4px;
    margin: 0;}

.Header ul li{
    line-height: 0;
    padding: 0;
    margin: 0px;
    display: inline-block;}

.Header ul li:nth-child(3){
    float: right;
      height:auto;
      width:auto;
    margin: 0px;
  /*background-color: transparent;*/}

.Header ul li p{
    position: relative;
      bottom:4px; 
    color:white;
    line-height: 0px;
    padding:0;
    margin:0;
}

.Header ul li p img{
    position: relative;
      top:3px;
    background-color: white;
    border-radius: 100%;
    padding: 1px;
  }

/* Navigation Menu */
.Navigation_menu{
  /*font-size: 0;*/
  position: sticky;
    top:0px;
    left:0px;
  height:4vw;
  box-shadow: 2px 5px 15px  rgb(66, 63, 63);  
  background-color:rgba(0, 129, 204, 0.24)!important;
  width:100%;
  padding: 0;
  margin: 0;
  z-index:50;}
  
.Navigation_menu ul{
  float:left;
  width:100%;
  margin:0;
  padding:0;}  

.Navigation_menu ul li:nth-child(5){
  float:left;
  padding-top:.1vw;
  margin:0;}

.Navigation_menu ul li:nth-child(5) img{ 
width:20vw;
height:3vw;
padding:.2vw;
margin: 0;}

.Navigation_menu ul li{
  float:right;
  max-height: 4vw;
  list-style-type: none;
  width:auto;
  height: auto;
  padding-top:1vw;
  margin:0 2% 0 2%;}

.Navigation_menu ul li a{
  vertical-align: text-top;;
  text-decoration: none;
  color: white;
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;
  font-size: 1.25vw;
  margin:0;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;}


.Navigation_menu ul li a:hover{
color:black;
/*box-shadow: 1px 1px 10px rgb(66, 63, 63);*/}

/*Navigation Animation*/
.Navigation_menu ul li::after{
  content:"";
  float:left;
  position: relative;
    top:.25vw;
    height:2px;
    width:0;
  background-color: black;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;} 

.Navigation_menu ul li:nth-child(5)::after{display:none;}

.Navigation_menu ul li:hover::after{width: 100%;}  

/*Main Home Screen*/
.Home{
    position: relative;
    width:100%;
    height:46vw;
    margin: 0;
    padding: 0;
    background-color: white;
    z-index: 5;}

.Home img{
    line-height: 0;
    margin: 0;
    padding: 0;
    width:100%;
    height: 100%}

.Home-Front{
    position: absolute;
      top:0;
    margin: 0;
    padding: 0;
    height:100%;
    background-color: rgba(0, 10, 15, 0.26)!important;}
  
#Main{
    position: relative;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
      font-size:6vw;
      letter-spacing: 2px;
    width:100%;
    text-align: center;
    color:white;
    opacity: 0;
    margin:18% 0 -3% 0;
    transition: margin .5s .25s ease-in-out,
                opacity 1s .25s ease-in-out;
    will-change: margin, opacity;}

#Main.is-visible {
  opacity: 1;
  margin:15% 0 0 0;}

#Sub{
    text-align: center;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
      line-height: 1vw;
      letter-spacing: .25vw;
      word-spacing: .2vw;
      font-size:.75vw;
    width:100%;
    color:white;
    opacity: 0;
    margin:7.5% 0 -5% 0;
    transition: margin 1s .25s ease-in-out,
                opacity 1s .5s ease-in-out;
    will-change: margin, opacity;}

#Sub.is-visible {
  opacity: 1;
  margin:2.5% 0 0 0;}

#Low{
    text-align: center;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
      letter-spacing: .15vw;
      font-size:1.5vw; 
  color:white;
  opacity: 0;
  margin:15% 0 -7% 0;
  transition: margin 1.5s .25s ease-in-out,
              opacity 1.5s .75s ease-in-out;
  will-change: margin, opacity;}

#Low.is-visible {
  opacity: 1;
  margin:8% 0 0 0;}

.Home-Front p:nth-child(4){
    position: relative;
    margin:2% 0 0 0;
    width:100%;
    text-align: center;
    line-height: 0px;}


#Scroll{
    position: absolute;
      left:48%;
  text-decoration: none;  
    font-size: 3vw;
    font-weight: normal;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  margin: -2px 0 2px 0;
  padding: 0.4em .4em .9em .4em;/*.1em .4em .2em .4em*/
  color:Black;
  background-color: transparent;
  -webkit-transition: border-color, font-weight, background-color .25s;
  -moz-transition: border-color, font-weight, background-color .25s;
  -ms-transition: border-color, font-weight, background-color .25s;
  -o-transition: border-color, font-weight, background-color .25s;
  transition: border-color, font-weight, background-color .25s;
  -webkit-animation-name: Anime-Scroll; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite;/* Safari 4.0 - 8.0 */
  -webkit-animation-timing-function: ease-in-out; /* Safari 4.0 - 8.0 */
  -moz-animation-name: Anime-Scroll; 
  -moz-animation-duration: 4s; 
  -moz-animation-fill-mode: forwards; 
  -moz-animation-iteration-count:infinite; 
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-name: Anime-Scroll; 
  -ms-animation-duration: 4s; 
  -ms-animation-fill-mode: forwards; 
  -ms-animation-iteration-count:infinite; 
  -ms-animation-timing-function: ease-in-out;
  -o-animation-name: Anime-Scroll; 
  -o-animation-duration: 4s; 
  -o-animation-fill-mode: forwards; 
  -o-animation-iteration-count:infinite; 
  -o-animation-timing-function: ease-in-out;
  animation-name: Anime-Scroll;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;}

#Scroll:hover{
    background-color: white;
    border-color: white;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count:1; 
    -ms-animation-iteration-count:1; 
    -o-animation-iteration-count:1; 
    animation-iteration-count: 1;}

.H1_1{
    position: relative;
        left:0;
    width:100%;
    height:40px;
    margin-top:-3%;
    background-color: white;}

.Counter{
  position: absolute;
    top:44vw;
    width:100%;
    height:6vw;
  margin: 0;
  padding: 0;
  background-color:white;}

/*About Us*/
.Page-1{
  font-size: 0;
  position: relative;
  width:100%;
  height: 46vw;
  margin: 0;
  padding: 0;
  background-color: white;} 

.Resume1{
  position: absolute;
    top:12%;
    right:25%;
    width: 24%;
    height: auto;
  box-shadow: 10px 20px 20px  black;
  transition: right 2s .5s ease-in-out;
  will-change: right;}

.Resume1.is-visible{right:25%;}
  
.Resume2{
  position: absolute;
    top:15%;
    right:25%;
    width: 24%;
    height: auto;
  box-shadow: 5px 10px 20px  black;
  transition: right 2s .5s ease-in-out;
  will-change: right;}

.Resume2.is-visible{right:16%;}

.Resume3{
  position: absolute;
    top:16%;
    right:25%;
    width: 21%;
    height: auto;
  box-shadow: 5px 10px 20px  black;
  transition: right 2s .5s ease-in-out;
  will-change: right;}

.Resume3.is-visible{right:10%;}

.Resume4{
  position: absolute;
    top:19%;
    right:25%;
    width: 21%;
    height: auto;
  box-shadow: 5px 10px 20px  black;
  transition: right 2s .5s ease-in-out;
  will-change: right;}

.Resume4.is-visible{right:5%;}

.Resume5{
  position: absolute;
    top:21%;
    right:25%;
    width: 18%;
    height: auto;
  box-shadow: 5px 10px 20px  black;
  transition: right 2s .5s ease-in-out;
  will-change: right;}

.Resume5.is-visible{right:2%;}

.Magnifying-Glass{
  position: absolute;
    left:55%;
    top:-48%;
    height:50%;
    width:30%;
  opacity: 0;
  background-color: transparent;
  transition: top 2s .5s ease-in-out,
              opacity .5s .25s ease-in-out;
  will-change: top, opacity;}

.Magnifying-Glass.is-visible{
  opacity: 1;
  top:45%;}

#Scroll2{
  line-height: 0;
    position: absolute;
      top:88%;
      left:48%;
  text-decoration: none;  
    font-size: 3vw;
    font-weight: normal;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  margin: 0;
  padding: 0.4em .4em .9em .4em;/*.1em .4em .2em .4em*/
  color:Black;
  background-color: transparent;
  -webkit-transition: border-color, font-weight, background-color .25s;
  -moz-transition: border-color, font-weight, background-color .25s;
  -ms-transition: border-color, font-weight, background-color .25s;
  -o-transition: border-color, font-weight, background-color .25s;
  transition: border-color, font-weight, background-color .25s;
  -webkit-animation-name: Anime-Scroll; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite;/* Safari 4.0 - 8.0 */
  -webkit-animation-timing-function: ease-in-out; /* Safari 4.0 - 8.0 */
  -moz-animation-name: Anime-Scroll; 
  -moz-animation-duration: 4s; 
  -moz-animation-fill-mode: forwards; 
  -moz-animation-iteration-count:infinite; 
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-name: Anime-Scroll; 
  -ms-animation-duration: 4s; 
  -ms-animation-fill-mode: forwards; 
  -ms-animation-iteration-count:infinite; 
  -ms-animation-timing-function: ease-in-out;
  -o-animation-name: Anime-Scroll; 
  -o-animation-duration: 4s; 
  -o-animation-fill-mode: forwards; 
  -o-animation-iteration-count:infinite; 
  -o-animation-timing-function: ease-in-out;
  animation-name: Anime-Scroll;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;}

#Scroll2:hover{
    background-color: white;
    border-color: white;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count:1; 
    -ms-animation-iteration-count:1; 
    -o-animation-iteration-count:1; 
    animation-iteration-count: 1;}
/*Page1 Content*/
.Para1 {
  font-size: 1.25vw!important;
  z-index:2;
  position: absolute;
    top:5%;
    left:2%;
    width:45%;
    font-family: 'Lato', sans-serif;
  margin: 0px;
  padding: 0px;
  color: black;
  background-color:transparent;
}
  
#HP1{
  position: relative;
  text-transform: uppercase;
    font-size:500%;
  background-color: transparent;
  opacity: 0;
  margin:14.5% 0 0% 6%;
  transition: margin .75s .25s linear,
              opacity 1s .25s ease-in-out;
   will-change: margin, opacity; 
}
  
#HP1.is-visible {
  opacity: 1;
  margin:8.5% 0 6% 6%;
  
}

#P1P1{
  line-height: 150%;
  font-size:90%;
  opacity: 0;
  margin:15% 0 0 0;
  transition: margin 1s .5s linear,
              opacity .75s .5s ease-in-out;
  will-change: margin, opacity;}

#P1P1.is-visible {
  opacity: 1;
  margin:10% 0 0 0;
}

#P2P1{
  line-height: 150%;
  font-size:90%;
  opacity: 0;
   transition: opacity .75s .5s ease-in-out;
  will-change: opacity;}

#P2P1.is-visible {
  opacity: 1;
}

.X1_1{
  position: absolute;
    top:10%;
    left:0;
    width:10%;
    height:22%;
  margin:0px;
  background-color: #c1c8e4;}

.X1_2{
  position: absolute;
    top:0;
    left:50%;
    width:50%;
    height:100%;
  margin:0px;
  background-color: #c1c8e4;}

.X1_3{
  position: absolute;
    top:12%;
    left:4%;
    width:10%;
    height:18%;
  margin:0px;
  background-color: white;}

/* Services */
.Page-2{
  font-size: 0;
  position: relative;
    top:0px;
    height:46vw;
    width:100%;
  margin:0;
  padding:0;
  background-color: #282828;
  overflow: visible;}

.Magnifying-Glass2-Back img{
  width:30vw;
  height:auto;}

.Magnifying-Glass2-Back{
  position:absolute;
  overflow: hidden;
  height:17vw;
    top:63%;
    right:30%;
  padding: 0;
  margin:0;
  z-index:25;}

#Scroll3{
  padding:2px;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  text-decoration: none;  
  margin: 0;
  color:white;
  background-color: transparent;
  -webkit-transition: border-color, font-weight, background-color .25s;
  -moz-transition: border-color, font-weight, background-color .25s;
  -ms-transition: border-color, font-weight, background-color .25s;
  -o-transition: border-color, font-weight, background-color .25s;
  transition: border-color, font-weight, background-color .25s;
  animation-name: Anime-Scroll3_;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;}

#Scroll3:hover{
  background-color: white;
  color: black;}

.Front1{
  position: absolute;
  display: inline-block;
  overflow: hidden;
    width:100%;
    top:70%;
    right:0%;
  padding:0;
  margin:0;
  visibility:visible;}

.Front1 img{
  display:inline-block;
  position: relative;
    left:13.5%;
    width:5%;
    height:auto;
  margin:0 8% 0 0;
  padding:0px;
  z-index:20;
  background-color: transparent;
animation-name: Anime7;
animation-duration: .5s;
animation-iteration-count: infinite;
animation-fill-mode: backwards;
animation-timing-function: linear;
-webkit-animation-name: Anime7;
-webkit-animation-duration: .5s;
-webkit-animation-iteration-count: infinite;
-webkit-animation-fill-mode: backwards;
-webkit-animation-timing-function: linear;
-moz-animation-name: Anime7;
-moz-animation-duration: .5s;
-moz-animation-iteration-count: infinite;
-moz-animation-fill-mode: backwards;
-moz-animation-timing-function: linear;
-ms-animation-name: Anime7;
-ms-animation-duration: .5s;
-ms-animation-iteration-count: infinite;
-ms-animation-fill-mode: backwards;
-ms-animation-timing-function: linear;
-o-animation-name: Anime7;
-o-animation-duration: .5s;
-o-animation-iteration-count: infinite;
-o-animation-fill-mode: backwards;
-o-animation-timing-function: linear;}

.ManL{margin-right:0px!important;}

.X2_1{
  position: absolute;
    top:10%;
    left:0;
    width:10%;
    height:22%;
  margin:0px;
  background-color: #b8b7bb;}

.X2_2{
position: absolute;
  top:65%;
  left:0;
  width:100%;
  height:1%;
margin:0px;
box-shadow: 0 0 2vw 1vw rgba(255, 255, 0, 0.349), 0 2vw 2vw 1vw rgba(248, 248, 104, 0.363) , 0 3vw 3vw 2vw rgba(253, 253, 139, 0.342), 0 4vw 4vw 3vw rgba(245, 245, 162, 0.342), 0 5vw 5vw 4vw rgba(248, 248, 180, 0.308), 0 6vw 6vw 5vw rgba(255, 255, 236, 0.308);
background-color: rgba(255, 255, 0, 0.589);
z-index:15;}

.X2_3{
  position: absolute;
    top:40%;
    left:50%;
    width:50%;
    height:40%;
  margin:0px;
  background-color: #4c495d;
  transform: skewY(15deg);
  z-index:20;}

.X2_4{
  position: absolute;
    top:40%;
    left:0;
    width:50%;
    height:40%;
  transform: skewY(-15deg);
  margin:0px;
  background-color: #282828;
  z-index:20;}

.X2_5{
  position: absolute;
    top: 0;
    right:0;
    width:50%;
    height:100%;
  margin:0px;
  background-color: #4c495d;
z-index: 10;}

.X2_6{
  position: absolute;
    top:13%;
    left:3%;
    width:40%;
    height:16%;
  margin:0px;
  background-color: #282828;}

#Para2{
  font-size: 1.25vw!important;
  Position:absolute;
    top:5%;
    left:0px;
    width:100%;
    font-family: 'Lato', sans-serif;
  margin: 0px;
  padding: 0;
  z-index: 25;
  color:white;
  opacity:1;
  margin: 0;
  background-color:transparent;
  transition: margin .75s .25s linear,
              opacity 1s .25s ease-in-out;
   will-change: margin, opacity;}

#P2_H1{
  padding-left: 2%;
  text-transform: uppercase;
    font-size:500%;
  opacity: 0;
  margin:5% 0 -1% 3%;
  transition: margin .5s .25s linear,
              opacity .5s .25s ease-in-out;
   will-change: margin, opacity; }

#P2_H1.is-visible {
  opacity: 1;
  margin:4% 0 0 3%;}

#P2_P1{
   line-height: 150%;
   font-size:90%;
  opacity: 0;
  margin: 6% 2% -2% 2%;
  transition: margin 1s .75s linear,
              opacity 1s .75s ease-in-out;
  will-change: margin, opacity;}

#P2_P1.is-visible {
  opacity: 1;
  margin:4% 2% 0 2%;}

#P2_P2{
  text-align: center;
   line-height: 150%;
   font-size:90%;
   opacity: 0;
   margin:6% 2% -4% 2%;
   transition: margin 1s .75s linear,
               opacity 1s .75s ease-in-out;
  will-change: margin, opacity;}

#P2_P2.is-visible {
  opacity: 1;
  margin: 2% 2% 0 2%;}

#Low3{
  padding:0;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
    font-size:100%;
    width:auto;
    height:auto;
  opacity: 0;
  margin: 6% 0 -4% 45.5%;
  transition: margin 2s .25s ease-in-out,
              opacity 2s .25s ease-in-out;
  will-change: margin, opacity;}

#Low3.is-visible {
  opacity: 1;
  margin:2% 0% 0% 45.5%;}

/* Page3 */
.Page3{
  font-size: 0;
  position: relative;
  width:100%;
  height: 46vw;
  margin: 0;
  padding: 0;
  background-color: #282828;
  overflow: hidden;}

.Table1 {
  font-size: initial;
  position: absolute;
    top:14%;
    width:100%;
  table-layout: fixed;}

.Table1 a{
  font-family: 'Lato', sans-serif;
  text-decoration:none;
  color:black;}

.Table1 h1{
  font-size: 1.5vw;
  color:white;
  vertical-align: center;
  margin:20% 0 0 0;
  background-color: #818181;
  height: 12vw;
  padding:40% 0 0 0;}

.P3_H1, .P3_H2, .P3_H3{padding:40.5% 0 0 0!important;}

.Table1 img{
    width:55%;
  margin:30% 0 0 0;
  padding:0;
  width: 10vw;
  height: 10vw;}

.Table1 td{
  text-align: center;
  letter-spacing: 0;
  padding: 0;
  font-size:60%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 8px 10px rgba(0,0,0,0.2);
transform-style: preserve-3d;
-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
-ms-transform-style: preserve-3d;
-o-transform-style: preserve-3d;
transition: transform .8s;
-webkit-transition: transform .8s;
-moz-transition: transform .8s;
-ms-transition: transform .8s;
-o-transition: transform .8s;}

.Table1 td:hover{
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);}

.Table1 td div{
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;}

.Table1 tr{
  perspective: 1500px;
  -webkit-perspective: 1500px;
  -moz-perspective: 1500px;
  -ms-perspective: 1500px;
  -o-perspective: 1500px;}

.S1-Back, .S2-Back, .S3-Back, .S4-Back, .S5-Back, .S6-Back{
  position: absolute;
    top:15%;
transform: rotateY(180deg);
-webkit-transform: rotateY(180deg);
-moz-transform: rotateY(180deg);
-ms-transform: rotateY(180deg);
-o-transform: rotateY(180deg);}

.S1-Back a p{
  position: relative;
  font-family: 'Lato', sans-serif;
    font-size: 200%;
  top:-40px;
  padding: 10px;
  margin:0;}

/* Client List */
.Page4{
  position: relative;
  width:100%;
  height: 46vw;
  margin: 0;
  padding: 0;
  background-color: white;
  overflow: hidden;}

.P4_H1{
  font-size:3vw!important;
  text-transform: uppercase;
  text-align: center;
  color:black;
  background-color: white;
  margin:0;
  padding-top:2%;
  font-family: 'Lato', sans-serif;}

.Page4 hr{margin-bottom: 5%;}

.Page4 img{
  margin:0 0 5vw 8vw;
  height:5vw;
  width:12vw;
  border-color: #818181;
  border-style: solid;
  border-width: 1px;
  padding:4px;
  transition: box-shadow .25s;}

.Page4 img:hover{ box-shadow: 0 0 20px rgb(63, 63, 63);}

/*Life At Buleocean*/
.Page5{
  position: relative;
  width:100%;
  height: 46vw;
  margin: 0;
  padding: 0;
  /*background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;*/
  background-color: white;}

.Image5{
  display: inline-block;
  position: relative;
    top:15%;
    left:1%;
    width:60%;
    height:90%;
  padding:0!important;
  opacity: 0;
  margin: 0;
  transition: margin .75s .1s linear,
              opacity .75s .1s ease-in-out;
  will-change: margin, opacity; }
  
.Image5.is-visible {opacity: 1;}

.Para3{
  position: absolute;
    top:10%;
    left:45%;
    width:50%;
    font-family: 'Lato', sans-serif;
  margin: 0px;
  padding: 0px;}

.P5_H1{
  text-transform: uppercase;
    font-size:4vw;
  opacity: 0;
  margin:4% 0 0 0;
  transition: margin .75s .5s linear,
              opacity 1s .5s ease-in-out;
   will-change: margin, opacity; }
  
.P5_H1.is-visible {opacity: 1;}

#P5_P1{
  line-height: 2vw;
  font-size: 1.2vw;
  opacity: 0;
  margin: 8% 0 -6% 0;
  transition: margin .75s .5s linear,
              opacity 1s .5s ease-in-out;
   will-change:  margin, opacity;}
  
#P5_P1.is-visible {
  opacity: 1;
  margin: 2% 0 0 0;}

/*Conact Us*/
.Page6{
  line-height: 0;
  position: relative;
  width:100%;
  height: 48vw;
  margin: 0;
  padding: 0;
  /*background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;*/
  background-color: white;}

#H1P4{
  font-family: 'Lato', sans-serif;
  position: absolute;
    top:0;
  text-transform: uppercase;
  font-size:4vw;
  font-weight: 100;
  opacity: 0;
  margin:5% 0 0 35%;
  transition: margin .75s .5s linear,
              opacity 1s .5s ease-in-out;
   will-change: margin, opacity; }
  
#H1P4.is-visible {opacity: 1;}

.Map{
  line-height: 0;
  position: relative;
    top:20%;
    width:100%;
  margin:0 0 0 0;
  height:400px;}

  /*Animation definations*/
/* Standard syntax */
@keyframes Anime-Scroll {0% {padding: .6em .4em .7em .4em;} 25% {padding: .4em .4em .9em .4em;} 50% {padding: .6em .4em .7em .4em;} 75%{padding: .4em .4em .9em .4em;} 100% {padding: .6em .4em .7em .4em;}}
@keyframes Anime-Scroll3 {0%{color:white;} 50%{color:black;} 100% {color:white;}}
@keyframes Anime-Home {0% {color:white;} 50%{font-weight: bold;} 100% {color:white;}}
@keyframes Anime-Home3_1 {0% {margin:15% 0% 2% 8%;opacity:0;} }
@keyframes Anime-Home3_2 {0% {margin:5% 0% 20% 0%;opacity:0;} }
@keyframes Anime-Home3_3 {0% {margin:5% 0% 0% 0%;opacity:0;} }
@keyframes Anime-Para {0% {margin-left:-10%;opacity:0;background-color: transparent;} }
@keyframes Anime-Head {0% {background-color: transparent;} }


@-webkit-keyframes Anime-Scroll {0% {padding: .6em .4em .7em .4em;} 25% {padding: .4em .4em .9em .4em;} 50% {padding: .6em .4em .7em .4em;} 75%{padding: .4em .4em .9em .4em;} 100% {padding: .6em .4em .7em .4em;}}


@-moz-keyframes Anime-Scroll {0% {padding: .6em .4em .7em .4em;} 25% {padding: .4em .4em .9em .4em;} 50% {padding: .6em .4em .7em .4em;} 75%{padding: .4em .4em .9em .4em;} 100% {padding: .6em .4em .7em .4em;}}


@-ms-keyframes Anime-Scroll {0% {padding: .6em .4em .7em .4em;} 25% {padding: .4em .4em .9em .4em;} 50% {padding: .6em .4em .7em .4em;} 75%{padding: .4em .4em .9em .4em;} 100% {padding: .6em .4em .7em .4em;}}


@-o-keyframes Anime-Scroll {0% {padding: .6em .4em .7em .4em;} 25% {padding: .4em .4em .9em .4em;} 50% {padding: .6em .4em .7em .4em;} 75%{padding: .4em .4em .9em .4em;} 100% {padding: .6em .4em .7em .4em;}}

