html{scroll-behavior: smooth;}

body{
    --height:100vh;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;}

/*Header*/
.Header {
    position: absolute;
    display: grid;
    grid: "Logo           Link   Contact"1fr
          /max-content    1fr    max-content;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 58, 145, 0.877);
    z-index: 50;
}

.Header div:first-child {
    grid-area: Link;
    text-align: end;
}

.Header div:first-child img {
    width: 4vw;
    height: 4vw;
    margin: .75% 0 0 0;
    padding: 0;
}

.Header div a {
    margin: 2% 1% 1% 1%;
}

.Header div:nth-child(2) {
    grid-area: Logo;
    text-align: center;
}

.Header div:nth-child(2) img {
    width: 12vw;
    height: 5vw;
}

.Header div:last-child {
    display: grid;
    grid-area: Contact;
    grid: "Phn Number"1fr/ max-content max-content;
    text-align: end;
    margin: 0 1% 0 1%;
    padding: 0 1% 0 1%;
}

.Header div:last-child img {
    grid-area: Phn;
    width: 4vw;
    height: 4vw;
    border-radius: 100%;
    margin: 15% 0 0 5%;
    padding: 0;
}

.Header div:last-child p {
    grid-area: Number;
    color: white;
    font-size: 1.25vw;
    font-weight: bolder;
    margin: 25% 5% 0 5%;
    padding: 0;
}


/* Navigation Menu */
.Nav_menu{
    display: flex;
    flex-flow: row nowrap;
    -moz-box-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    justify-content: flex-start;
    align-items: stretch;
    position: sticky;
    position: -webkit-sticky;
      top:0px;
    box-shadow: 2px 5px 15px  rgb(66, 63, 63);  
    background-color:rgba(0, 129, 204, 0.24);
    opacity: 0;
    padding: 0;
    margin: 0;
    z-index: 10;
    overflow: visible;
    will-change: opacity;}
.Nav_menu.nav-visible{opacity: 1;}

.Nav_menu div{
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    align-items: stretch;
    padding: 0;
    margin: 0;
    overflow: visible;}

.Nav_menu div:first-child{
    flex-grow: 1;
    justify-content: flex-start;}

.Nav_menu div:last-child{
    flex-grow: 3;
    justify-content: flex-end;
    overflow: visible;}

.Nav_menu div a{
    color: white;
    margin: 0 5px 0 5px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.3vw;}

.Nav_menu div:last-child a{
    margin: 0;
    padding: .25em 1.7em 0 1.7em;
}

.Nav_menu a:first-child img {
    height:4vw;
    width: auto;}

#Item1:hover, #Item2:hover, #Item3:hover, #Item4:hover, #Item5:hover, #Item6:hover, #Item7:hover{
    color: black;}
#Item1:hover.is-visible, #Item2:hover.is-visible, #Item3:hover.is-visible, #Item4:hover.is-visible, #Item5:hover.is-visible, #Item6:hover.is-visible, #Item7:hover.is-visible{
    color: white;}
#Dropdown{
    position: absolute;
        top:100%;
        right:10%;
        display: grid;
        grid:"Menu"1fr/
             1fr;
        text-align: center;
        box-shadow: -5px 10px 15px  rgb(66, 63, 63);  
        background-color:rgba(0, 129, 204, 0.24);
        width:max-content;
        height: 0;
        transition: height 1s;
        overflow: hidden;}
    
#Dropdown_Menu{
    display: grid;
    grid-area: Menu;
    grid:"Item1"1fr
         "Item2"1fr
         "Item3"1fr/
         1fr;
    height:100%;
    width: max-content;
    background-color: transparent;
}
#Dropdown_Menu a{
    height:auto;
    width: 70%;
}
#Item4{grid-area: Item1;}#Item5{grid-area: Item2;}#Item6{grid-area: Item3;}

#Hover:hover #Dropdown{height: 300%;}

#Item1::after, #Item2::after, #Item3::after, #Item4::after, #Item5::after, #Item6::after, #Item7::after{
  content:"";
  float:left;
  position: relative;
    top:-1vw;
    height:2px;
    width:0;
  background-color: black;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;} 

#Item1:hover::after, #Item2:hover::after, #Item3:hover::after, #Item4:hover::after, #Item5:hover::after, #Item6:hover::after, #Item7:hover::after{width: 100%;} 

.nav-scrolled{background-color: rgba(0, 129, 204, 0.596);font-weight: bold;}

/*Home*/

#Home {
    width: 100%;
    height: var(--height);
    margin: -4.5vw 0 0 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

#Home_img_anim {
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    -moz-box-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    justify-content: flex-start;
    align-items: stretch;
    margin: 0 0 0 0;
    padding: 0;
    width: 600vw;
    height: 100%;
    animation: slide 40s ease-in-out infinite;
}

@keyframes slide {
    0% {
        margin: 0 0 0 0;
    }
    10% {
        margin: 0 0 0 0;
    }
    20% {
        margin: 0 0 0 -100vw;
    }
    30% {
        margin: 0 0 0 -100vw;
    }
    40% {
        margin: 0 0 0 -200vw;
    }
    50% {
        margin: 0 0 0 -200vw;
    }
    60% {
        margin: 0 0 0 -300vw;
    }
    70% {
        margin: 0 0 0 -300vw;
    }
    80% {
        margin: 0 0 0 -400vw;
    }
    90% {
        margin: 0 0 0 -400vw;
    }
    99.9999% {
        margin: 0 0 0 -500vw;
    }
    100% {
        margin: 0 0 0 0;
    }
}

#Home_img_anim img {
    flex-grow: 1;
    width: 100vw;
}

#Home_Front {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--height);
    width: 100%;
    display: grid;
    grid: "header"1.25fr 
          "  H1  "max-content 
          "  H2  "max-content
          "  H3  "max-content
          "  sc  "max-content
          "footer"1fr
          / 1fr;
    text-align: center;
    background-color: rgba(0, 10, 15, 0.26);
    color: white;
    text-transform: uppercase;
    overflow: hidden;
}

#Home_H1 {
    grid-area: H1;
    opacity: 0;
    margin: 0;
    padding: 0;
    transition: opacity 1s .25s linear;
    will-change: opacity;
}

#Home_H1.is-visible {
    opacity: 1;
}

#Home_H1 p {
    font-size: 5vw;
    word-spacing: .25vw;
    letter-spacing: 2px;
    margin: 5% 0 0 0;
    padding: 0;
}

#Home_H2 {
    grid-area: H2;
    padding: 0;
    opacity: 0;
    margin: 5vw 0 -2.5vw 0;
    transition: margin 1s .25s ease-in-out, opacity 1s .5s ease-in-out;
    will-change: margin, opacity;
}

#Home_H2.is-visible {
    opacity: 1;
    margin: 2.5vw 0 0 0;
}

#Home_H2 p {
    line-height: 2.5vw;
    letter-spacing: .25vw;
    word-spacing: .25vw;
    font-size: .8vw;
    margin: 2.5% 0 0 0;
    padding: 0;
}

#Home_H3 {
    grid-area: H3;
    padding: 0;
    opacity: 0;
    margin: 5vw 0 -5vw 0;
    transition: margin 1.5s .25s ease-in-out, opacity 1.5s .75s ease-in-out;
    will-change: margin, opacity;
}

#Home_H3.is-visible {
    letter-spacing: .25vw;
    font-size: 2vw;
    opacity: 1;
    margin: 0 0 0 0;
}

#Home_H3 p {
    grid-area: Bottom;
    margin: 5% 0 0 0;
    padding: 0;
}

#Scroll {
    grid-area: sc;
    margin: 0;
    padding: 0;
}
.Scroll_img{
    position: absolute;
    line-height: 0;
    text-decoration: none;  
    font-size: 3vw;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    margin: 2.5vw 0 0 -2vw;
    padding: 0.4em .4em .9em .4em;/*.1em .4em .2em .4em*/
    color:Black;
  -webkit-transition: border-color, font-weight, background-color .25s;
  -moz-transition: border-color, font-weight, background-color .25s;
  -ms-transition: border-color, font-weight, background-color .25s;
  -o-transition: border-color, font-weight, background-color .25s;
  transition: border-color, font-weight, background-color .25s;
  -webkit-animation-name: Anime-Scroll; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite;/* Safari 4.0 - 8.0 */
  -webkit-animation-timing-function: ease-in-out; /* Safari 4.0 - 8.0 */
  -moz-animation-name: Anime-Scroll; 
  -moz-animation-duration: 4s; 
  -moz-animation-fill-mode: forwards; 
  -moz-animation-iteration-count:infinite; 
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-name: Anime-Scroll; 
  -ms-animation-duration: 4s; 
  -ms-animation-fill-mode: forwards; 
  -ms-animation-iteration-count:infinite; 
  -ms-animation-timing-function: ease-in-out;
  -o-animation-name: Anime-Scroll; 
  -o-animation-duration: 4s; 
  -o-animation-fill-mode: forwards; 
  -o-animation-iteration-count:infinite; 
  -o-animation-timing-function: ease-in-out;
  animation-name: Anime-Scroll;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
@keyframes Anime-Scroll {0% {padding: .6em .4em .7em .4em;} 25% {padding: .4em .4em .9em .4em;} 50% {padding: .6em .4em .7em .4em;} 75%{padding: .4em .4em .9em .4em;} 100% {padding: .6em .4em .7em .4em;}}

.Scroll_img:hover{
    background-color: white;
    border-color: white;
    animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    -webkit-animation-play-state: paused;}

/*About Us*/
#Page1{
    height: var(--height);
    margin: 0 0 0 0;
    padding: 0;
    display: grid;
  grid:"Pg1_P1  Pg1_I1" 100%/
       1fr 1fr;
   overflow: hidden;}
   
#Pg1_P1{
    margin: 0;
    padding: 0;
    grid-area: Pg1_P1;
    display: grid;
    grid:
    "Header"5vw
    "P1_H1" 10vw 
    "P1_P1" 1fr/
    1fr;
    background-color: white;
}
#Pg1_P1_H1{
    margin: 0;
    padding: 0;
    grid-area: P1_H1;
    display: grid;
    grid:
    "Part1 Part2"1fr/
    1fr 5fr;
    text-transform: uppercase;}
#Pg1_P1_H1 b{
    grid-area: Part1;
    background-color: #c1c8e4;}
    
#Pg1_P1_H1 strong em{
    font-style: normal;
    font-size: 6vw;
    opacity: 0;
    padding: 0;
    margin: 0 5% 0 -5%;
    transition: opacity .75s .25s linear,
                margin .75s .25s linear; 
    will-change: opacity,margin;}

#Pg1_P1_H1 strong em.is-visible{
    opacity: 1;
    margin: 0 ;
}

#Pg1_P1_H1 strong{
    grid-area: Part2;
    margin: 2.5% 0 0 -12%;
    padding: 0 1% 0 1%;
    height:75%;
    
    line-height: 7vw;
    background-color: white;}

#Pg1_P1_P1{
    margin: 0;
    height: 100%;
    padding: 5% 10% 5% 0;
    grid-area: P1_P1;
    opacity: 0;
    line-height: 1.4em;
    font-size: 1.3vw;
    transition: opacity .75s .75s linear,
                padding .75s .75s linear; 
    will-change: opacity,padding;}
#Pg1_P1_P1.is-visible{
    padding: 5% 5% 5% 5%;
    opacity: 1;
}
#Pg1_I1{
    margin: 0;
    padding: 20% 0 0 7.5%;
    grid-area: Pg1_I1;
    background-color: #c1c8e4;}

#Pg1_I1 img{
    height:100%;
    width:100%;
    opacity: 0;
    transition: opacity .75s .5s linear;
    will-change: opacity;
}
#Pg1_I1 img.is-visible{
    opacity: 1;
}
#Pg1_Scroll{
    grid-area: sc;
    margin: 5% 0 5% 0;
    padding: 0;
    text-align: center;}


/*Counter*/
#Counter{
    display: grid;    
    grid:" Header      Header      Header " max-content
         "Counter1    Counter2    Counter3" max-content
         "   sc          sc          sc   " 1fr/
         20vw 20vw 20vw  ;
    justify-content: space-around;
    margin: 0;
    padding: 0 0 5% 0;
    overflow: hidden;
    background-color: #f4f4f4;

}
#Counter_H1{
    display: grid;
    grid-area: Header;
    grid:"Header" .5fr
         "Main" max-content
         "Footer" 1fr/
         1fr;
    text-align: center;
    margin: 0;
    padding: 0;
}
#Counter_H1 h1{
    grid-area: Main;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 5vw;
}
#Counter_H1 h1 hr{
    font-size: initial;
    margin: 1% 0 0 0;
}
.Count_div{
    display: grid;
    grid:"Image"1fr
         "Counter".5fr
         "Heading".25fr/
         1fr;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-width: 1.5vw;
    border-style: ridge;
    border-color: #373737;
    background-color: transparent;
}
.Count_div img{
    justify-self: center;
    margin: 10% 5% 5% 5%;
}
.Count_div h1{
    font-weight: bolder;
    font-size: 1.25vw;
    line-height: 2vw;
    letter-spacing: .25vw;
    color: black;
}
.Count_div p{
    display: inline;
    font-weight: bolder;
    font-size: 3vw;
    color: #373737;
    margin:-22% 0 0 0;
    text-align: end;
    padding-right: 22%;
}
.Counter{
    margin: 2% 0 0 0;
    letter-spacing: .25vw;
    font-weight: bolder;
    font-size: 3vw;
    color: #373737;
}
#Counter div img{
    width:5vw;
}
/*Services*/
#Page2{
    height:max-content;
    margin: 0;
    padding: 2% 0 0 0;
    display: grid;
    grid:"Pg2_P1 Pg2_I1" var(--height)
         "sc     sc    "1fr
         "Services Services"var(--height)/
         50% 50%;
    overflow: hidden;}

#Pg2_P1{
    margin: 0;
    padding: 0;
    grid-area: Pg2_P1;
    display: grid;
    grid:"Header"5vw
         "P2_H1" 10vw 
         "P2_P1" 1fr
         "P2_P2" 1fr/
         1fr;
    background-color: white;
}
#Pg2_P1_H1{
    grid-area: P2_H1;
    display: grid;
    grid:"Part1 Part2"1fr/
         1fr 5fr;
    text-transform: uppercase;
    margin: 0;
    padding: 0;}

#Pg2_P1_H1 b{
    grid-area: Part1;
    background-color: #b8b7bb;}
    
#Pg2_P1_H1 strong{
    grid-area: Part2;
    height:75%;
    margin: 2.5% 0 0 -12%;
    padding:  0 1% 1%;
    background-color: white;}

#Pg2_P1_H1 strong em{
    font-style: normal;
    font-size: 6vw;
    opacity: 0;
    margin: 0 5% 0 -5%;
    padding: 0;
    transition: opacity .75s .25s linear,
                margin .75s .25s linear; 
    will-change: opacity,margin;}
#Pg2_P1_H1 strong em.is-visible{opacity: 1; margin: 0;}

#Pg2_P1_P1{
    grid-area: P2_P1;
    opacity: 0;
    letter-spacing:.075vw;
    word-spacing:.2vw;
    line-height: 2vw;
    font-size: 1.25vw;
    height: 100%;
    margin: 0;
    padding: 5% 10% 5% 0%;
    transition: opacity .75s .75s linear,
                padding .75s .75s linear; 
    will-change: opacity,padding;}

#Pg2_P1_P1.is-visible{
    padding: 5% 5% 5% 5%;
    opacity: 1;
}

#Pg2_P1_P2{
    grid-area: P2_P2;
    opacity: 0;
    word-spacing: .25vw;
    font-size: 1.3vw;
    font-weight: bolder;
    height: 100%;
    margin: 0 -50vw 0 0;
    padding: 8% 0 5% 5%;
    transition: opacity 1.2s 1s linear,
                padding 1.2s 1s linear; 
    will-change: opacity,padding;}
#Pg2_P1_P2.is-visible{padding: 5% 0 5% 5%; opacity: 1;}
#Pg2_P1_P2 b{
    color:white;
}
#Pg2_I1{
    margin: 0;
    padding: 20% 0 0 0;
    grid-area: Pg2_I1;
    background-color: #4c495d;}

#Pg2_I1 img{
    height:50%;
    width:100%;
    opacity: 0;
    transition: opacity .75s .5s linear;
    will-change: opacity;}

#Pg2_I1 img.is-visible{opacity: 1;}

#Pg2_Scroll{
    grid-area: sc;
    margin: -10% 0 7.5% 0;
    padding: 0;
    text-align: center;}


/*Services List*/
#Page3{
    grid-area: Services;
    height: var(--height);
    margin: 0 0 0 0;
    padding: 0;
    text-align: center;
    display: grid;
    grid:"Head Head Head Head Head Head" 1fr
         "Win1 Win2 Win3 Win4 Win5 Win6" 75%
         "Foot Foot Foot Foot Foot Foot" .5fr/
         1fr   1fr   1fr 1fr  1fr  1fr;
    grid-gap: .1vw;
    overflow: hidden;
    background-color: #f4f4f4;}
#Window1, #Window2, #Window3, #Window4, #Window5, #Window6{
    margin: .1vw;
    padding: 0;
    perspective: 1500px;
    -webkit-perspective: 1500px;
    -moz-perspective: 1500px;
    -ms-perspective: 1500px;
    -o-perspective: 1500px;}

#Window1{grid-area: Win1;}#Window2{grid-area: Win2;}#Window3{grid-area: Win3;}#Window4{grid-area: Win4;}#Window5{grid-area: Win5;}#Window6{grid-area: Win6;}

#Win1_Frame, #Win2_Frame, #Win3_Frame, #Win4_Frame, #Win5_Frame, #Win6_Frame{
    display: flex;
    flex-flow: column nowrap;
    flex: 0 1 auto;
    width:16vw;
    height: 100%;
    box-shadow: 20px 20px 30px 10px rgba(0, 0, 0, 0.466);
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transition: transform .5s;
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -ms-transition: transform .5s;
    -o-transition: transform .5s;}

#Window1:hover #Win1_Frame, #Window2:hover #Win2_Frame, #Window3:hover #Win3_Frame, #Window4:hover #Win4_Frame, #Window5:hover #Win5_Frame, #Window6:hover #Win6_Frame{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);}

#Win1_Front, #Win2_Front, #Win3_Front, #Win4_Front, #Win5_Front, #Win6_Front{
    display:grid;
    height: 100%;
    margin: 0 0 0% 0;
    padding: 0;
    grid:"Logo" 50%
         "Heading"50%/
         1fr;
    background-color: #c0b283;
    backface-visibility: hidden;}

#Win1_Front_Img, #Win2_Front_Img, #Win3_Front_Img, #Win4_Front_Img, #Win5_Front_Img, #Win6_Front_Img{
    margin: 0;
    padding: 0;
    grid-area: Logo;
    display: grid;
    grid:"Header Header Header".5fr
         "Left   Main   Right" max-content
         "Footer Footer Footer".5fr/
          .5fr max-content .5fr;
    background-color: white;

} 
#Win1_Front_Img img, #Win2_Front_Img img, #Win3_Front_Img img, #Win4_Front_Img img, #Win5_Front_Img img, #Win6_Front_Img img{
    grid-area:Main;
    width:14vw; 
    height: auto; 
    margin: 0; 
    padding: 0;}   
    
#Win1_Front_H1, #Win2_Front_H1, #Win3_Front_H1, #Win4_Front_H1, #Win5_Front_H1, #Win6_Front_H1{
    margin: 0;
    padding: 0;
    grid-area: Heading;
    display: grid;
    grid:"Header".5fr
         "Main"max-content
         "Footer".5fr/
          1fr;}

#Win1_Front_H1 h1, #Win2_Front_H1 h1, #Win3_Front_H1 h1, #Win4_Front_H1 h1, #Win5_Front_H1 h1, #Win6_Front_H1 h1{grid-area: Main; font-size: 1.75vw;}

#Win1_Back, #Win2_Back, #Win3_Back, #Win4_Back, #Win5_Back, #Win6_Back{
    display: grid;
    position: absolute;
    height: 100%;
    grid:"Header".5fr
         " Main "7fr
         "Footer".5fr/
         1fr;
    padding: 0;
    margin: 0% 0 0% 0;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    background-color: #c0b283;
}

#Win1_Back a, #Win2_Back a, #Win3_Back a, #Win4_Back a, #Win5_Back a, #Win6_Back a{
    display: grid;
    grid-area: Main;
    text-decoration: none;
    grid:"Header".5fr
         "Para"max-content 
         "Footer".5fr/
         1fr;
    margin: 0;
    padding: 0;
    background-color: white;}

#Win1_Back a p, #Win2_Back a p, #Win3_Back a p, #Win4_Back a p, #Win5_Back a p, #Win6_Back a p{
    display: grid;
    grid-area: Para;
    font-size: 1.5vw;
    color:black;
    margin: 0;
    padding: 0;
    background-color: transparent;}
/* Client List */
.Page4{
    display: grid;
    height: max-content;
    text-align: center;
    grid:"Header" max-content
         "Slide" 1fr/
         1fr;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow: hidden;}

#Pg4_P1{
    display:grid;
    grid-area: Header;
    grid:"Heading"max-content/
         1fr;
    margin: 0;
    padding: 0;
}
#Pg4_P1 h1{
    font-weight: lighter;
    text-transform: uppercase;
    grid-area: Heading;
    font-size: 5vw;
    margin: 0;
    padding: 0;
}
#Pg4_P1 h1 hr{
    font-size: initial;
margin: 0 0 5% 0;}
#Pg4_Slide{
    display: grid;
    grid-area: Slide;
    overflow: hidden;
}
#Frame{
    margin: 0 0 0 0;
  width:510vw;
  animation:clint_slide 50s linear infinite;
}
@keyframes clint_slide {
    0% {margin: 0 0 0 0;}
    99.9999% {margin: 0 0 0 -393vw;}
    100% {margin: 0 0 0 0;}
  }
#Frame img{
    float: left;
    line-height: 0;
    margin:0 0 7vw 7vw;
    height:5vw;
    width:12vw;
    border-color: #818181;
    border-style: solid;
    border-width: .25vw;
    padding:.25vw;
    transition: box-shadow .25s;}

#Frame img:hover{ box-shadow: 5px 5px 10px rgb(32, 32, 32);}

.I1{
    background-color:black ;
}

/*Work With Us*/

#Page6 {
    display: grid;
    grid: "Pg6_P1 Pg6_I1" 100%/ 60% 40%;
    height: var(--height);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#Pg6_P1 {
    display: grid;
    grid-area: Pg6_P1;
    grid: "Header"6vw "P6_H1" max-content "P6_P1" 1fr/ 1fr;
    margin: 0;
    padding: 0;
    background-color: white;
}

#Pg6_P1_H1 {
    grid-area: P6_H1;
    display: grid;
    grid: "Left  Part1   Right"1fr/ 1fr max-content 1fr;
    text-transform: uppercase;
    margin: 0 5% 0 -5%;
    padding: 0;
    opacity: 0;
    transition: opacity .75s .25s linear, margin .75s .25s linear;
    will-change: opacity, margin;
}

#Pg6_P1_H1.is-visible {
    margin: 0;
    opacity: 1;
}

#Pg6_P1_H1 strong {
    font-weight: lighter;
    font-size: 4vw;
    grid-area: Part1;
}

#Pg6_P1_H1 strong hr {
    font-size: initial;
    margin: 1% 0 0 0;
}

#Pg6_P1_P1 {
    grid-area: P6_P1;
    opacity: 1;
    text-align: center;
    letter-spacing: .09vw;
    word-spacing: .45vw;
    line-height: 1.6vw;
    font-size: 1.1vw;
    height: 100%;
    margin: 0;
    padding: 2% 0 3% 3%;
    opacity: 0;
    transition: opacity 1s .75s linear;
    will-change: opacity;
}

#Pg6_P1_P1.is-visible {
    opacity: 1;
}

#Pg6_P1_P1 b{
    display: block;
    text-align: center;
    line-height: 1.5vw;
    font-size: 1.5vw;
    letter-spacing: .075vw;
    word-spacing: .1vw;
}

#Pg6_I1 {
    margin: 0;
    padding: 15% 0 0 10%;
    grid-area: Pg6_I1;
    background-color: white;
}

#Pg6_I1 img {
    height: 40vw;
    width: auto;
    opacity: 0;
    transition: opacity 1s .75s linear;
    will-change: opacity;
}

#Pg6_I1 img.is-visible {
    opacity: 1;
}

/*Meet the Team*/

#Page7 {
    display: grid;
    height: max-content;
    grid: "Header" max-content "Galary" 1fr/ 1fr;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow: hidden;
}

#Pg7_P1 {
    display: grid;
    grid-area: Header;
    grid: "Heading"max-content/ 1fr;
    text-align: center;
    margin: 0;
    padding: 0;
}

#Pg7_P1_H1 strong {
    font-weight: lighter;
    text-transform: uppercase;
    grid-area: Heading;
    font-size: 4vw;
    margin: 0;
    padding: 0;
}

#Pg7_P1_H1 strong hr {
    font-size: initial;
    margin: 1% 0 0;
}

#Pg7_P2 {
    display: flex;
    grid-area: Galary;
    flex-flow: row wrap;
    -moz-box-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    justify-content: center;
    align-items: stretch;
    margin: 0;
    padding: 0 5% 0 1%;
    overflow: visible;
}

#Pg7_P2 div {
    display: grid;
    grid: "Image"20vw "Name"2.5vw/ 1fr;
    height: 22.5vw;
    margin: 0 0 2% 5%;
    padding: 0;
    border-radius: 10px;
    background-color: grey;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    overflow: hidden;
}

#Pg7_P2 div h1 {
    grid-area: Name;
    font-size: 1.5vw;
    color: white;
    margin: 0 0 0 2.5%;
    padding: 0;
    z-index: 10;
}

#Pg7_P2 div img {
    grid-area: Image;
    width: 22.5vw;
    height: 22.5vw;
    filter: grayscale(100%);
}



/*Our Vision*/

#Page8 {
    display: grid;
    grid: "Pg8_I1 Pg8_P1" 100%/ 40% 60%;
    height: var(--height);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#Pg8_P1 {
    display: grid;
    grid-area: Pg8_P1;
    grid: "Header"6vw "P7_H1" max-content "P7_P1" 1fr/ 1fr;
    margin: 0;
    padding: 0;
    background-color: white;
}

#Pg8_P1_H1 {
    grid-area: P7_H1;
    display: grid;
    grid: "Left  Part1   Right"1fr/ 1fr max-content 1fr;
    text-transform: uppercase;
    margin: 0 -5% 0 5%;
    padding: 0;
    opacity: 0;
    transition: opacity .75s .25s linear, margin .75s .25s linear;
    will-change: opacity, margin;
}

#Pg8_P1_H1.is-visible {
    margin: 0;
    opacity: 1;
}

#Pg8_P1_H1 strong {
    font-weight: lighter;
    font-size: 4vw;
    grid-area: Part1;
}

#Pg8_P1_H1 strong hr {
    font-size: initial;
}

#Pg8_P1_P1 {
    grid-area: P7_P1;
    opacity: 1;
    letter-spacing: .1vw;
    word-spacing: .5vw;
    line-height: 2vw;
    font-size: 1.25vw;
    height: 100%;
    margin: 0;
    padding: 3% 3% 3% 3%;
    opacity: 0;
    transition: opacity 1s .75s linear;
    will-change: opacity;
}

#Pg8_P1_P1.is-visible {
    opacity: 1;
}

#Pg8_P1_P1 b:first-child {
    display: block;
    text-align: center;
    font-size: 1.75vw;
    letter-spacing: .1vw;
    word-spacing: .5vw;
    line-height: 2vw;
}
#Pg8_P1_P1 b:last-child {
    display: block;
    text-align: center;
    letter-spacing: .25vw;
    word-spacing: .4vw;
    line-height: 2vw;
    font-size: 1.5vw;
}

#Pg8_I1 {
    margin: 0;
    padding: 15% 0 0 15%;
    grid-area: Pg8_I1;
}

#Pg8_I1 img {
    height: 40vw;
    width: auto;
    opacity: 0;
    transition: opacity 1s .75s linear;
    will-change: opacity;
}

#Pg8_I1 img.is-visible {
    opacity: 1;
}


/*Looking for Us?*/
#Page9{
    display: grid;
    text-align: center;
    grid:"Header" max-content
         "Map" 1fr
         "Footer"max-content/
         1fr;
    height: var(--height);
    margin: 0;
    padding: 0;
    background-color: white;
    overflow: hidden;}

#Pg9_P1{
    display:grid;
    grid-area: Header;
    grid:"Heading"max-content/
         1fr;
    margin: 0;
    padding: 0;
}
#Pg9_P1 h1{
    font-weight: lighter;
    text-transform: uppercase;
    grid-area: Heading;
    font-size: 5vw;
    margin: 5% 0 0 0;
    padding: 0;
}
#Pg9_P1 h1 hr{
    font-size: initial;
    margin: 0 0 1% 0;}

#Pg9_I1{overflow: hidden;}

#Pg9_I1 iframe{
    height:35vw;
    width:100%;
}
#footer{
    width: 100%;
    font-size: 1vw;
    background-color: rgb(0, 13, 32);
    text-align: left;
    color: #c1c8e4;
}

/*For mobile small screen devices*/
@media screen and (max-width: 1000px) {
    body{--height: 48vw;}
}
@media screen and (max-width: 768px) {
    .Scroll_img{visibility: hidden;}
}
